.DS_Store
*.iml
*.pdf
*.aux
*.idx
*.bbl
*.blg
*.log
*.lof
*.loa
*.lot
*.out
*.synctex.gz
*.toc
.texpadtmp
.idea/
.gradle/
out/
bin/
build/
project-kotlin/.idea/
project-kotlin/build
project-kotlin/.gradle
